 /* Ghost Responsive Stages CSS
================================================== */
	.ghost-responsive-tester {
		position: absolute;
		top: 30px;
		right: 25px;
		display:block;		
		background:#900;
		color:#FFF;
		font-size: 20px;
		line-height: 20px;
		font-weight: bold;
		z-index: 1000;
		padding: 10px;
		border:#FFF solid 2px;
	}
	.ghost-responsive-tester div {
		float:left;		
	}
	.ghost-snap-one {
		display:block;
	}
	.ghost-snap-two {
		display:none;
	}
	.ghost-snap-three {
		display:none;
	}
	.ghost-snap-four {
		display:none;
	}
	
/* #Media Queries
================================================== */

	/* 2.  Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {		
		.ghost-snap-two { display:block;}
		.ghost-snap-one { display:none;}
	}

	/* 3.  Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.ghost-snap-three { display:block;}
		.ghost-snap-one { display:none;}
	}
	
	/* 4. Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.ghost-snap-four { display:block;}
		.ghost-snap-one { display:none;}	
	}
